[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
Flask = "*"
WTForms = "*"
pybluez = {file = ".contribs\\PyBluez-0.30-cp311-cp311-win_amd64.whl"}
smspdudecoder = "*"
pyobex = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.11"
