[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://localhost:8080/simple"
verify_ssl = false
name = "local_pypi"

[packages]
lxml = "*"
Flask = "*"
WTForms = "*"
pybluez = { version = ">=0.30", index = "local_pypi" }
smspdudecoder = "*"
pyobex = "*"

[dev-packages]
pypiserver = "*"

[requires]
python_version = "3.11"
